## Read from MIMIC csv files

In [6]:
import pandas as pd

In [7]:
# files can be downloaded from https://mimic.physionet.org/gettingstarted/dbsetup/
MED_FILE = 'PRESCRIPTIONS.csv'
DIAG_ICD_FILE = 'DIAGNOSES_ICD.csv' 
PROCEDURES_ICD_FILE = 'PROCEDURES_ICD.csv'

# drug code mapping files (already in ./data/)
ndc2atc_file = 'ndc2atc_level4.csv' 
cid_atc = 'drug-atc.csv'
ndc2rxnorm_file = 'ndc2rxnorm_mapping.txt'

# drug-drug interactions can be down https://www.dropbox.com/s/8os4pd2zmp2jemd/drug-DDI.csv?dl=0
ddi_file = 'drug-DDI.csv'

In [22]:
# 'PROCEDURES_ICD.csv'
def process_procedure():
    pro_pd = pd.read_csv(PROCEDURES_ICD_FILE, dtype={'ICD9_CODE':'category'})
    pro_pd.drop(columns=['ROW_ID'], inplace=True)
#     pro_pd = pro_pd[pro_pd['SEQ_NUM']<5]
#     def icd9_tree(x):
#         if x[0]=='E':
#             return x[:4] 
#         return x[:3]
#     pro_pd['ICD9_CODE'] = pro_pd['ICD9_CODE'].map(icd9_tree)
    pro_pd.drop_duplicates(inplace=True)
    pro_pd.sort_values(by=['SUBJECT_ID', 'HADM_ID', 'SEQ_NUM'], inplace=True)
    pro_pd.drop(columns=['SEQ_NUM'], inplace=True)
    pro_pd.drop_duplicates(inplace=True)
    pro_pd.reset_index(drop=True, inplace=True)
    
    return pro_pd

pro_pd_ = process_procedure()

In [23]:
pro_pd_.dtypes

SUBJECT_ID       int64
HADM_ID          int64
ICD9_CODE     category
dtype: object

In [15]:
'PRESCRIPTIONS.csv'
def process_med():
    med_pd = pd.read_csv(MED_FILE)
    # filter
    med_pd.drop(columns=['ROW_ID','DRUG_TYPE','DRUG_NAME_POE','DRUG_NAME_GENERIC',
                     'FORMULARY_DRUG_CD','GSN','PROD_STRENGTH','DOSE_VAL_RX',
                     'DOSE_UNIT_RX','FORM_VAL_DISP','FORM_UNIT_DISP','FORM_UNIT_DISP',
                      'ROUTE','ENDDATE','DRUG'], axis=1, inplace=True)
    med_pd.drop(index = med_pd[med_pd['NDC'] == 0.0].index, axis=0, inplace=True)
    
    med_pd.fillna(method='pad', inplace=True)
    med_pd.dropna(inplace=True)
    med_pd.drop_duplicates(inplace=True)
    med_pd['NDC'] = med_pd['NDC'].apply(lambda x: '{:011.0f}'.format(x))
    med_pd['ICUSTAY_ID'] = med_pd['ICUSTAY_ID'].astype('int64')
    med_pd['STARTDATE'] = pd.to_datetime(med_pd['STARTDATE'], format='%Y-%m-%d %H:%M:%S')    
    med_pd.sort_values(by=['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'STARTDATE'], inplace=True)
    med_pd = med_pd.reset_index(drop=True)

    ##
    med_pd = filter_first24hour_med(med_pd)
    #     med_pd = med_pd.drop(columns=['STARTDATE'])
    
    med_pd = med_pd.drop(columns=['ICUSTAY_ID'])
    med_pd = med_pd.drop_duplicates()
    med_pd = med_pd.reset_index(drop=True)
    
    med_pd_lg2 = process_visit_lg2(med_pd).reset_index(drop=True)    
    med_pd = med_pd.merge(med_pd_lg2[['SUBJECT_ID']], on='SUBJECT_ID', how='inner')    
    
    med_pd = med_pd.reset_index(drop=True)

    return med_pd
    
def filter_first24hour_med(med_pd):
    med_pd_new = med_pd.drop(columns=['NDC'])
    med_pd_new = med_pd_new.groupby(by=['SUBJECT_ID','HADM_ID','ICUSTAY_ID']).head(1).reset_index(drop=True)
    med_pd_new = pd.merge(med_pd_new, med_pd, on=['SUBJECT_ID','HADM_ID','ICUSTAY_ID','STARTDATE'])
    med_pd_new = med_pd_new.drop(columns=['STARTDATE'])
    return med_pd_new

# visit > 2
def process_visit_lg2(med_pd):
    a = med_pd[['SUBJECT_ID', 'HADM_ID']].groupby(by='SUBJECT_ID')['HADM_ID'].unique().reset_index()
    a['HADM_ID_Len'] = a['HADM_ID'].map(lambda x:len(x))
    a = a[a['HADM_ID_Len'] > 1]
    return a

In [16]:
med_pd = process_med()

/var/folders/89/8f49ggp54px0s9d6h6ygsz5w0000gn/T/ipykernel_3122/1925787566.py:3: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  med_pd = pd.read_csv(MED_FILE)

In [17]:
med_pd

        SUBJECT_ID  HADM_ID          NDC
0               17   161087  00713016550
1               17   161087  00904770418
2               17   161087  00904404073
3               17   161087  00904526161
4               17   161087  00121075210
...            ...      ...          ...
420088       99982   183791  51991045757
420089       99982   183791  00409490234
420090       99982   183791  00904404073
420091       99982   183791  63323026201
420092       99982   183791  55390000401

[420093 rows x 3 columns]

In [265]:
med_pd.dtypes

SUBJECT_ID     int64
HADM_ID        int64
NDC           object
dtype: object

In [112]:
# among 'PRESCRIPTIONS.csv', return records within first 24 hours & more than 2 visits. 
med_pd

        SUBJECT_ID  HADM_ID          NDC
0               17   161087    713016550
1               17   161087    904770418
2               17   161087    904404073
3               17   161087    904526161
4               17   161087    121075210
...            ...      ...          ...
436126       99982   183791  51991045757
436127       99982   183791    409490234
436128       99982   183791    904404073
436129       99982   183791  63323026201
436130       99982   183791  55390000401

[436131 rows x 3 columns]

In [19]:
def process_diag():
    diag_pd = pd.read_csv(DIAG_ICD_FILE)
    diag_pd.dropna(inplace=True)
#     def icd9_tree(x):
#         if x[0]=='E':
#             return x[:4] 
#         return x[:3]
#     diag_pd['ICD9_CODE'] = diag_pd['ICD9_CODE'].map(icd9_tree)
#     diag_pd = diag_pd[diag_pd['SEQ_NUM'] < 5]
    diag_pd.drop(columns=['SEQ_NUM','ROW_ID'],inplace=True)
    diag_pd.drop_duplicates(inplace=True)
    diag_pd.sort_values(by=['SUBJECT_ID','HADM_ID'], inplace=True)
    return diag_pd.reset_index(drop=True)

diag_pd_ = process_diag()

In [20]:
diag_pd_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 650940 entries, 0 to 650939
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   SUBJECT_ID  650940 non-null  int64
 1   HADM_ID     650940 non-null  int64
 2   ICD9_CODE   650940 non-null  object
dtypes: int64(2), object(1)
memory usage: 14.9+ MB

In [26]:
med_pd_tmp = med_pd.copy()

In [27]:
med_pd_tmp

        SUBJECT_ID  HADM_ID          NDC
0               17   161087  00713016550
1               17   161087  00904770418
2               17   161087  00904404073
3               17   161087  00904526161
4               17   161087  00121075210
...            ...      ...          ...
420088       99982   183791  51991045757
420089       99982   183791  00409490234
420090       99982   183791  00904404073
420091       99982   183791  63323026201
420092       99982   183791  55390000401

[420093 rows x 3 columns]

In [269]:
med_pd_tmp[med_pd_tmp['NDC'] == '00064100133']
# med_pd_tmp['NDC']
# 00338500341

        SUBJECT_ID  HADM_ID          NDC
46918         5696   114502  00064100133
145596       17564   153774  00064100133
168015       20140   119827  00064100133
213911       25658   188188  00064100133

In [274]:
def ndc2atc4(med_pd):
    with open(ndc2rxnorm_file, 'r') as f:
        ndc2rxnorm = eval(f.read())
    '''
    {'00338500341': u'1665046', '00064100133': u'545106', '00069077038': u'616287', '00085043104': u'746189', ...}
    '''

    ndc2rxnorm.pop('idx')
    # for k, v in ndc2rxnorm.items():
    #     print(k, v)
    #     print(int(k), v)
    
    med_pd['RXCUI'] = med_pd['NDC'].map(ndc2rxnorm)
    med_pd.dropna(inplace=True)

    print(med_pd)

    rxnorm2atc = pd.read_csv(ndc2atc_file)
    rxnorm2atc = rxnorm2atc.drop(columns=['YEAR','MONTH','NDC'])
    rxnorm2atc.drop_duplicates(subset=['RXCUI'], inplace=True)
    med_pd.drop(index = med_pd[med_pd['RXCUI'].isin([''])].index, axis=0, inplace=True)
    
    med_pd['RXCUI'] = med_pd['RXCUI'].astype('int64')
    med_pd = med_pd.reset_index(drop=True)
    med_pd = med_pd.merge(rxnorm2atc, on=['RXCUI'])
    med_pd.drop(columns=['NDC', 'RXCUI'], inplace=True)
    med_pd = med_pd.rename(columns={'ATC4':'NDC'})
    med_pd['NDC'] = med_pd['NDC'].map(lambda x: x[:4])
    med_pd = med_pd.drop_duplicates()    
    med_pd = med_pd.reset_index(drop=True)
    return med_pd

ndc2atc4_ = ndc2atc4(med_pd_tmp)

        SUBJECT_ID  HADM_ID          NDC    RXCUI
0               17   161087  00713016550   209363
1               17   161087  00904770418  1293665
2               17   161087  00904404073   318272
3               17   161087  00904526161   198191
4               17   161087  00121075210   755272
...            ...      ...          ...      ...
420088       99982   183791  51991045757   876193
420089       99982   183791  00409490234   727517
420090       99982   183791  00904404073   318272
420091       99982   183791  63323026201  1361615
420092       99982   183791  55390000401   153095

[418929 rows x 4 columns]

In [275]:
ndc2atc4_

        SUBJECT_ID  HADM_ID   NDC
0               17   161087  N02B
1               17   194023  N02B
2               23   152223  N02B
3               36   182104  N02B
4              103   130744  N02B
...            ...      ...   ...
237683       97547   112445  N05A
237684       97547   127852  N05A
237685       97547   194938  N05A
237686       98920   115857  L02B
237687       99100   153693  N03A

[237688 rows x 3 columns]

In [276]:
def filter_1000_most_pro(pro_pd):
    pro_count = pro_pd.groupby(by=['ICD9_CODE']).size().reset_index().rename(columns={0:'count'}).sort_values(by=['count'],ascending=False).reset_index(drop=True)
    pro_pd = pro_pd[pro_pd['ICD9_CODE'].isin(pro_count.loc[:1000, 'ICD9_CODE'])]
    
    return pro_pd.reset_index(drop=True)    

def filter_2000_most_diag(diag_pd):
    diag_count = diag_pd.groupby(by=['ICD9_CODE']).size().reset_index().rename(columns={0:'count'}).sort_values(by=['count'],ascending=False).reset_index(drop=True)
    diag_pd = diag_pd[diag_pd['ICD9_CODE'].isin(diag_count.loc[:1999, 'ICD9_CODE'])]
    
    return diag_pd.reset_index(drop=True)

def filter_300_most_med(med_pd):
    med_count = med_pd.groupby(by=['NDC']).size().reset_index().rename(columns={0:'count'}).sort_values(by=['count'],ascending=False).reset_index(drop=True)
    med_pd = med_pd[med_pd['NDC'].isin(med_count.loc[:299, 'NDC'])]
    
    return med_pd.reset_index(drop=True)

In [330]:
# get med and diag (visit>=2)
med_pd = process_med()

/var/folders/89/8f49ggp54px0s9d6h6ygsz5w0000gn/T/ipykernel_81158/1925787566.py:3: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  med_pd = pd.read_csv(MED_FILE)

In [331]:
med_pd

        SUBJECT_ID  HADM_ID          NDC
0               17   161087  00713016550
1               17   161087  00904770418
2               17   161087  00904404073
3               17   161087  00904526161
4               17   161087  00121075210
...            ...      ...          ...
420088       99982   183791  51991045757
420089       99982   183791  00409490234
420090       99982   183791  00904404073
420091       99982   183791  63323026201
420092       99982   183791  55390000401

[420093 rows x 3 columns]

In [332]:
med_pd = ndc2atc4(med_pd)

        SUBJECT_ID  HADM_ID          NDC    RXCUI
0               17   161087  00713016550   209363
1               17   161087  00904770418  1293665
2               17   161087  00904404073   318272
3               17   161087  00904526161   198191
4               17   161087  00121075210   755272
...            ...      ...          ...      ...
420088       99982   183791  51991045757   876193
420089       99982   183791  00409490234   727517
420090       99982   183791  00904404073   318272
420091       99982   183791  63323026201  1361615
420092       99982   183791  55390000401   153095

[420093 rows x 4 columns]

        SUBJECT_ID  HADM_ID   NDC
0               17   161087  N02B
1               17   194023  N02B
2               23   152223  N02B
3               36   182104  N02B
4              103   130744  N02B
...            ...      ...   ...
237683       97547   112445  N05A
237684       97547   127852  N05A
237685       97547   194938  N05A
237686       98920   115857  L02B
237687       99100   153693  N03A

[237688 rows x 3 columns]

In [333]:
med_pd

        SUBJECT_ID  HADM_ID   NDC
0               17   161087  N02B
1               17   194023  N02B
2               23   152223  N02B
3               36   182104  N02B
4              103   130744  N02B
...            ...      ...   ...
237683       97547   112445  N05A
237684       97547   127852  N05A
237685       97547   194938  N05A
237686       98920   115857  L02B
237687       99100   153693  N03A

[237688 rows x 3 columns]

In [334]:
med_pd = filter_300_most_med(med_pd)
med_pd

        SUBJECT_ID  HADM_ID   NDC
0               17   161087  N02B
1               17   194023  N02B
2               23   152223  N02B
3               36   182104  N02B
4              103   130744  N02B
...            ...      ...   ...
237683       97547   112445  N05A
237684       97547   127852  N05A
237685       97547   194938  N05A
237686       98920   115857  L02B
237687       99100   153693  N03A

[237688 rows x 3 columns]

In [335]:
diag_pd = process_diag()
diag_pd = filter_2000_most_diag(diag_pd)

In [336]:
diag_pd

        SUBJECT_ID  HADM_ID ICD9_CODE
0                2   163353     V3001
1                2   163353      V053
2                2   163353      V290
3                3   145834      0389
4                3   145834     78559
...            ...      ...       ...
625429       99995   137810     41401
625430       99999   113369      7861
625431       99999   113369      4019
625432       99999   113369     25000
625433       99999   113369      4139

[625434 rows x 3 columns]

In [337]:
pro_pd = process_procedure()
#     pro_pd = filter_1000_most_pro(pro_pd)
pro_pd

        SUBJECT_ID  HADM_ID ICD9_CODE
0                2   163353      9955
1                3   145834      9604
2                3   145834      9962
3                3   145834      8964
4                3   145834      9672
...            ...      ...       ...
228674       99999   113369      8108
228675       99999   113369      8051
228676       99999   113369      8162
228677       99999   113369      9979
228678       99999   113369      8451

[228679 rows x 3 columns]

In [338]:
med_pd_key = med_pd[['SUBJECT_ID', 'HADM_ID']].drop_duplicates()
diag_pd_key = diag_pd[['SUBJECT_ID', 'HADM_ID']].drop_duplicates()
pro_pd_key = pro_pd[['SUBJECT_ID', 'HADM_ID']].drop_duplicates()

In [339]:
pro_pd_key

        SUBJECT_ID  HADM_ID
0                2   163353
1                3   145834
7                4   185777
10               5   178980
11               6   107064
...            ...      ...
228657       99985   176670
228662       99991   151118
228669       99992   197084
228671       99995   137810
228674       99999   113369

[52243 rows x 2 columns]

In [340]:
combined_key = med_pd_key.merge(diag_pd_key, on=['SUBJECT_ID', 'HADM_ID'], how='inner')
combined_key = combined_key.merge(pro_pd_key, on=['SUBJECT_ID', 'HADM_ID'], how='inner')

In [341]:
combined_key

       SUBJECT_ID  HADM_ID
0              17   161087
1              17   194023
2              23   152223
3              36   182104
4             103   130744
...           ...      ...
15011       27714   179593
15012       59948   186194
15013        9911   152237
15014       16634   148327
15015        9656   120149

[15016 rows x 2 columns]

In [342]:
diag_pd = diag_pd.merge(combined_key, on=['SUBJECT_ID', 'HADM_ID'], how='inner')
med_pd = med_pd.merge(combined_key, on=['SUBJECT_ID', 'HADM_ID'], how='inner')
pro_pd = pro_pd.merge(combined_key, on=['SUBJECT_ID', 'HADM_ID'], how='inner')

In [343]:
pro_pd

       SUBJECT_ID  HADM_ID ICD9_CODE
0              17   161087      3731
1              17   161087      8872
2              17   161087      3893
3              17   194023      3571
4              17   194023      3961
...           ...      ...       ...
68118       99982   151454      3527
68119       99982   151454      3961
68120       99982   183791      3721
68121       99982   183791      3897
68122       99982   183791      8964

[68123 rows x 3 columns]

In [344]:
# flatten and merge
diag_pd = diag_pd.groupby(by=['SUBJECT_ID','HADM_ID'])['ICD9_CODE'].unique().reset_index()  
med_pd = med_pd.groupby(by=['SUBJECT_ID', 'HADM_ID'])['NDC'].unique().reset_index()
pro_pd = pro_pd.groupby(by=['SUBJECT_ID','HADM_ID'])['ICD9_CODE'].unique().reset_index().rename(columns={'ICD9_CODE':'PRO_CODE'})  
med_pd['NDC'] = med_pd['NDC'].map(lambda x: list(x))
pro_pd['PRO_CODE'] = pro_pd['PRO_CODE'].map(lambda x: list(x))
data = diag_pd.merge(med_pd, on=['SUBJECT_ID', 'HADM_ID'], how='inner')
data = data.merge(pro_pd, on=['SUBJECT_ID', 'HADM_ID'], how='inner')
#     data['ICD9_CODE_Len'] = data['ICD9_CODE'].map(lambda x: len(x))
data['NDC_Len'] = data['NDC'].map(lambda x: len(x))

In [345]:
data

,SUBJECT_ID,HADM_ID,ICD9_CODE,NDC,PRO_CODE,NDC_Len
0,17,161087,"[4239, 5119, 78551, 4589, 311, 7220, 71946, 2724]","[N02B, A01A, A02B, A06A, B05C, A12A, A12C, C01...","[3731, 8872, 3893]",14
1,17,194023,"[7455, 45829, V1259, 2724]","[N02B, A01A, A02B, A06A, A12A, B05C, A12C, C01...","[3571, 3961, 8872]",15
2,21,109451,"[41071, 78551, 5781, 5849, 40391, 4280, 4592, ...","[A06A, C07A, A12A, A02A, J01M, C02A, B05C, B01...","[0066, 3761, 3950, 3606, 0042, 0047, 3895, 399...",17
3,21,111970,"[0388, 78552, 40391, 42731, 70709, 5119, 6823,...","[A06A, B05C, A12C, A07A, N02B, B01A, N06A, A01...","[3995, 8961, 0014]",17
4,23,124321,"[2252, 3485, 78039, 4241, 4019, 2720, 2724, V4...","[C07A, N02B, A02B, H03A, N03A, A01A, N05A, C09...",[0151],11
...,...,...,...,...,...,...
15011,99923,164914,"[45829, 4532, 2761, 5723, 4561, 45621, 5849, 7...","[N02B, B01A, A06A, J01M, A07A]","[5491, 4513]",5
15012,99923,192053,"[5712, 5856, 5724, 40391, 9974, 5601, 30393, V...","[A06A, A12A, A12C, N01A, C07A, B01A, A02B, A04...","[5059, 504, 5569, 0093]",18
15013,99982,112748,"[4280, 42823, 5849, 4254, 2763, 42731, 78729, ...","[A01A, C03C, A06A, A02B, A12C, B05C, C01A, B01...",[3721],11
15014,99982,151454,"[42823, 4254, 2875, 42731, 3970, 5303, 4280, V...","[C03C, A02B, A06A, C07A, C09C, A12B]","[3527, 3961]",6
15015,99982,183791,"[5849, 42731, 4280, 2875, 53081, 56400, 78720,...","[A01A, A06A, B05C, C03C, A03B, B01A, A12C, A04...","[3721, 3897, 8964]",15

In [346]:
med_pd

       SUBJECT_ID  HADM_ID                                                NDC
0              17   161087  [N02B, A01A, A02B, A06A, B05C, A12A, A12C, C01...
1              17   194023  [N02B, A01A, A02B, A06A, A12A, B05C, A12C, C01...
2              21   109451  [A06A, C07A, A12A, A02A, J01M, C02A, B05C, B01...
3              21   111970  [A06A, B05C, A12C, A07A, N02B, B01A, N06A, A01...
4              23   124321  [C07A, N02B, A02B, H03A, N03A, A01A, N05A, C09...
...           ...      ...                                                ...
15011       99923   164914                     [N02B, B01A, A06A, J01M, A07A]
15012       99923   192053  [A06A, A12A, A12C, N01A, C07A, B01A, A02B, A04...
15013       99982   112748  [A01A, C03C, A06A, A02B, A12C, B05C, C01A, B01...
15014       99982   151454               [C03C, A02B, A06A, C07A, C09C, A12B]
15015       99982   183791  [A01A, A06A, B05C, C03C, A03B, B01A, A12C, A04...

[15016 rows x 3 columns]

In [ ]:
# def process_all():
    
#     # get med and diag (visit>=2)
#     med_pd = process_med()
#     med_pd = ndc2atc4(med_pd)
# #     med_pd = filter_300_most_med(med_pd)
    
#     diag_pd = process_diag()
#     diag_pd = filter_2000_most_diag(diag_pd)
    
#     pro_pd = process_procedure()
# #     pro_pd = filter_1000_most_pro(pro_pd)
    
#     med_pd_key = med_pd[['SUBJECT_ID', 'HADM_ID']].drop_duplicates()
#     diag_pd_key = diag_pd[['SUBJECT_ID', 'HADM_ID']].drop_duplicates()
#     pro_pd_key = pro_pd[['SUBJECT_ID', 'HADM_ID']].drop_duplicates()
    
#     combined_key = med_pd_key.merge(diag_pd_key, on=['SUBJECT_ID', 'HADM_ID'], how='inner')
#     combined_key = combined_key.merge(pro_pd_key, on=['SUBJECT_ID', 'HADM_ID'], how='inner')
    
#     diag_pd = diag_pd.merge(combined_key, on=['SUBJECT_ID', 'HADM_ID'], how='inner')
#     med_pd = med_pd.merge(combined_key, on=['SUBJECT_ID', 'HADM_ID'], how='inner')
#     pro_pd = pro_pd.merge(combined_key, on=['SUBJECT_ID', 'HADM_ID'], how='inner')

#     # flatten and merge
#     diag_pd = diag_pd.groupby(by=['SUBJECT_ID','HADM_ID'])['ICD9_CODE'].unique().reset_index()  
#     med_pd = med_pd.groupby(by=['SUBJECT_ID', 'HADM_ID'])['NDC'].unique().reset_index()
#     pro_pd = pro_pd.groupby(by=['SUBJECT_ID','HADM_ID'])['ICD9_CODE'].unique().reset_index().rename(columns={'ICD9_CODE':'PRO_CODE'})  
#     med_pd['NDC'] = med_pd['NDC'].map(lambda x: list(x))
#     pro_pd['PRO_CODE'] = pro_pd['PRO_CODE'].map(lambda x: list(x))
#     data = diag_pd.merge(med_pd, on=['SUBJECT_ID', 'HADM_ID'], how='inner')
#     data = data.merge(pro_pd, on=['SUBJECT_ID', 'HADM_ID'], how='inner')
# #     data['ICD9_CODE_Len'] = data['ICD9_CODE'].map(lambda x: len(x))
#     data['NDC_Len'] = data['NDC'].map(lambda x: len(x))
#     return data

In [347]:
def statistics():
    print('#patients ', data['SUBJECT_ID'].unique().shape)
    print('#clinical events ', len(data))
    
    diag = data['ICD9_CODE'].values
    med = data['NDC'].values
    pro = data['PRO_CODE'].values
    
    unique_diag = set([j for i in diag for j in list(i)])
    unique_med = set([j for i in med for j in list(i)])
    unique_pro = set([j for i in pro for j in list(i)])
    
    print('#diagnosis ', len(unique_diag))
    print('#med ', len(unique_med))
    print('#procedure', len(unique_pro))
    
    avg_diag = 0
    avg_med = 0
    avg_pro = 0
    max_diag = 0
    max_med = 0
    max_pro = 0
    cnt = 0
    max_visit = 0
    avg_visit = 0

    for subject_id in data['SUBJECT_ID'].unique():
        item_data = data[data['SUBJECT_ID'] == subject_id]
        x = []
        y = []
        z = []
        visit_cnt = 0
        for index, row in item_data.iterrows():
            visit_cnt += 1
            cnt += 1
            x.extend(list(row['ICD9_CODE']))
            y.extend(list(row['NDC']))
            z.extend(list(row['PRO_CODE']))
        x = set(x)
        y = set(y)
        z = set(z)
        avg_diag += len(x)
        avg_med += len(y)
        avg_pro += len(z)
        avg_visit += visit_cnt
        if len(x) > max_diag:
            max_diag = len(x)
        if len(y) > max_med:
            max_med = len(y) 
        if len(z) > max_pro:
            max_pro = len(z)
        if visit_cnt > max_visit:
            max_visit = visit_cnt
        

        
    print('#avg of diagnoses ', avg_diag/ cnt)
    print('#avg of medicines ', avg_med/ cnt)
    print('#avg of procedures ', avg_pro/ cnt)
    print('#avg of vists ', avg_visit/ len(data['SUBJECT_ID'].unique()))
    

    print('#max of diagnoses ', max_diag)
    print('#max of medicines ', max_med)
    print('#max of procedures ', max_pro)
    print('#max of visit ', max_visit)

In [376]:
# data = process_all()
statistics()
data.to_pickle('data_final.pkl')
data.head()

#patients  (6350,)
#clinical events  15016
#diagnosis  1958
#med  145
#procedure 1426
#avg of diagnoses  10.514717634523175
#avg of medicines  8.80420884389984
#avg of procedures  3.8445657964837507
#avg of vists  2.3647244094488187
#max of diagnoses  128
#max of medicines  55
#max of procedures  50
#max of visit  29

,SUBJECT_ID,HADM_ID,ICD9_CODE,NDC,PRO_CODE,NDC_Len
0,17,161087,"[4239, 5119, 78551, 4589, 311, 7220, 71946, 2724]","[N02B, A01A, A02B, A06A, B05C, A12A, A12C, C01...","[3731, 8872, 3893]",14
1,17,194023,"[7455, 45829, V1259, 2724]","[N02B, A01A, A02B, A06A, A12A, B05C, A12C, C01...","[3571, 3961, 8872]",15
2,21,109451,"[41071, 78551, 5781, 5849, 40391, 4280, 4592, ...","[A06A, C07A, A12A, A02A, J01M, C02A, B05C, B01...","[0066, 3761, 3950, 3606, 0042, 0047, 3895, 399...",17
3,21,111970,"[0388, 78552, 40391, 42731, 70709, 5119, 6823,...","[A06A, B05C, A12C, A07A, N02B, B01A, N06A, A01...","[3995, 8961, 0014]",17
4,23,124321,"[2252, 3485, 78039, 4241, 4019, 2720, 2724, V4...","[C07A, N02B, A02B, H03A, N03A, A01A, N05A, C09...",[0151],11

## Create Vocaboray for Medical Codes & Save Patient Record in pickle form

In [377]:
import dill
import pandas as pd
class Voc(object):
    def __init__(self):
        self.idx2word = {}
        self.word2idx = {}

    def add_sentence(self, sentence):
        for word in sentence:
            if word not in self.word2idx:
                self.idx2word[len(self.word2idx)] = word
                self.word2idx[word] = len(self.word2idx)
                
def create_str_token_mapping(df):
    diag_voc = Voc()
    med_voc = Voc()
    pro_voc = Voc()
    ## only for DMNC
#     diag_voc.add_sentence(['seperator', 'decoder_point'])
#     med_voc.add_sentence(['seperator', 'decoder_point'])
#     pro_voc.add_sentence(['seperator', 'decoder_point'])
    
    for index, row in df.iterrows():
        diag_voc.add_sentence(row['ICD9_CODE'])
        med_voc.add_sentence(row['NDC'])
        pro_voc.add_sentence(row['PRO_CODE'])
    
    dill.dump(obj={'diag_voc':diag_voc, 'med_voc':med_voc,'pro_voc':pro_voc}, file=open('voc_final.pkl','wb'))
    return diag_voc, med_voc, pro_voc

def create_patient_record(df, diag_voc, med_voc, pro_voc):
    records = [] # (patient, code_kind:3, codes)  code_kind:diag, proc, med
    for subject_id in df['SUBJECT_ID'].unique():
        item_df = df[df['SUBJECT_ID'] == subject_id]
        patient = []
        for index, row in item_df.iterrows():
            admission = []
            admission.append([diag_voc.word2idx[i] for i in row['ICD9_CODE']])
            admission.append([pro_voc.word2idx[i] for i in row['PRO_CODE']])
            admission.append([med_voc.word2idx[i] for i in row['NDC']])
            patient.append(admission)
        records.append(patient) 
    dill.dump(obj=records, file=open('records_final.pkl', 'wb'))
    return records
        
    
path='data_final.pkl'
df = pd.read_pickle(path)
df

,SUBJECT_ID,HADM_ID,ICD9_CODE,NDC,PRO_CODE,NDC_Len
0,17,161087,"[4239, 5119, 78551, 4589, 311, 7220, 71946, 2724]","[N02B, A01A, A02B, A06A, B05C, A12A, A12C, C01...","[3731, 8872, 3893]",14
1,17,194023,"[7455, 45829, V1259, 2724]","[N02B, A01A, A02B, A06A, A12A, B05C, A12C, C01...","[3571, 3961, 8872]",15
2,21,109451,"[41071, 78551, 5781, 5849, 40391, 4280, 4592, ...","[A06A, C07A, A12A, A02A, J01M, C02A, B05C, B01...","[0066, 3761, 3950, 3606, 0042, 0047, 3895, 399...",17
3,21,111970,"[0388, 78552, 40391, 42731, 70709, 5119, 6823,...","[A06A, B05C, A12C, A07A, N02B, B01A, N06A, A01...","[3995, 8961, 0014]",17
4,23,124321,"[2252, 3485, 78039, 4241, 4019, 2720, 2724, V4...","[C07A, N02B, A02B, H03A, N03A, A01A, N05A, C09...",[0151],11
...,...,...,...,...,...,...
15011,99923,164914,"[45829, 4532, 2761, 5723, 4561, 45621, 5849, 7...","[N02B, B01A, A06A, J01M, A07A]","[5491, 4513]",5
15012,99923,192053,"[5712, 5856, 5724, 40391, 9974, 5601, 30393, V...","[A06A, A12A, A12C, N01A, C07A, B01A, A02B, A04...","[5059, 504, 5569, 0093]",18
15013,99982,112748,"[4280, 42823, 5849, 4254, 2763, 42731, 78729, ...","[A01A, C03C, A06A, A02B, A12C, B05C, C01A, B01...",[3721],11
15014,99982,151454,"[42823, 4254, 2875, 42731, 3970, 5303, 4280, V...","[C03C, A02B, A06A, C07A, C09C, A12B]","[3527, 3961]",6
15015,99982,183791,"[5849, 42731, 4280, 2875, 53081, 56400, 78720,...","[A01A, A06A, B05C, C03C, A03B, B01A, A12C, A04...","[3721, 3897, 8964]",15

In [350]:
df.dtypes

SUBJECT_ID     int64
HADM_ID        int64
ICD9_CODE     object
NDC           object
PRO_CODE      object
NDC_Len        int64
dtype: object

In [378]:
diag_voc, med_voc, pro_voc = create_str_token_mapping(df)
records = create_patient_record(df, diag_voc, med_voc, pro_voc)
len(diag_voc.idx2word), len(med_voc.idx2word), len(pro_voc.idx2word)

(1958, 145, 1426)

## DDI & Construct EHR Adj and DDI Adj

In [28]:
import pandas as pd
import numpy as np
from collections import defaultdict
import dill

# atc -> cid
ddi_file = 'drug-DDI.csv'
cid_atc = 'drug-atc.csv'
voc_file = 'voc_final.pkl'
data_path = 'records_final.pkl'
TOPK = 40 # topk drug-drug interaction

records =  dill.load(open(data_path, 'rb'))
records[:1]

[[[[0, 1, 2, 3, 4, 5, 6, 7],
   [0, 1, 2],
   [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]],
  [[8, 9, 10, 7],
   [3, 4, 1],
   [0, 1, 2, 3, 5, 4, 6, 7, 8, 9, 10, 11, 13, 14, 15]]]]

In [29]:
cid2atc_dic = defaultdict(set)
med_voc = dill.load(open(voc_file, 'rb'))['med_voc']
type(med_voc.idx2word.items())

print("idx2word")
for k,v in list(med_voc.idx2word.items())[:10]:
    print(k, v)

idx2word
0 N02B
1 A01A
2 A02B
3 A06A
4 B05C
5 A12A
6 A12C
7 C01C
8 A07A
9 A10A

In [30]:
med_voc_size = len(med_voc.idx2word)
med_unique_word = [med_voc.idx2word[i] for i in range(med_voc_size)]
# med_unique_word

In [31]:
atc3_atc4_dic = defaultdict(set)
for item in med_unique_word:
    atc3_atc4_dic[item[:4]].add(item)

In [32]:
atc3_atc4_dic

defaultdict(set,
            {'N02B': {'N02B'},
             'A01A': {'A01A'},
             'A02B': {'A02B'},
             'A06A': {'A06A'},
             'B05C': {'B05C'},
             'A12A': {'A12A'},
             'A12C': {'A12C'},
             'C01C': {'C01C'},
             'A07A': {'A07A'},
             'A10A': {'A10A'},
             'M01A': {'M01A'},
             'N01A': {'N01A'},
             'C07A': {'C07A'},
             'N07A': {'N07A'},
             'C02D': {'C02D'},
             'N02A': {'N02A'},
             'A02A': {'A02A'},
             'J01M': {'J01M'},
             'C02A': {'C02A'},
             'B01A': {'B01A'},
             'C03C': {'C03C'},
             'A11C': {'A11C'},
             'A12B': {'A12B'},
             'C03A': {'C03A'},
             'A03B': {'A03B'},
             'N06A': {'N06A'},
             'C10A': {'C10A'},
             'H03A': {'H03A'},
             'J01D': {'J01D'},
             'B02B': {'B02B'},
             'R06A': {'R06A'},
             'C01B': {'C01B'},
             'N03A': {'N03A'},
             'N05A': {'N05A'},
             'C09A': {'C09A'},
             'C08C': {'C08C'},
             'D11A': {'D11A'},
             'C01D': {'C01D'},
             'N05C': {'N05C'},
             'A04A': {'A04A'},
             'M03A': {'M03A'},
             'A07E': {'A07E'},
             'B03B': {'B03B'},
             'R01A': {'R01A'},
             'R03A': {'R03A'},
             'A03F': {'A03F'},
             'L01A': {'L01A'},
             'A07D': {'A07D'},
             'N05B': {'N05B'},
             'D04A': {'D04A'},
             'A05A': {'A05A'},
             'D06B': {'D06B'},
             'J02A': {'J02A'},
             'C01A': {'C01A'},
             'J05A': {'J05A'},
             'J01F': {'J01F'},
             'G03A': {'G03A'},
             'J01E': {'J01E'},
             'D07A': {'D07A'},
             'C01E': {'C01E'},
             'D10A': {'D10A'},
             'P01B': {'P01B'},
             'J04A': {'J04A'},
             'R05C': {'R05C'},
             'C05A': {'C05A'},
             'R05D': {'R05D'},
             'N04B': {'N04B'},
             'G04C': {'G04C'},
             'J01C': {'J01C'},
             'S01E': {'S01E'},
             'G04B': {'G04B'},
             'D06A': {'D06A'},
             'V03A': {'V03A'},
             'M04A': {'M04A'},
             'H05B': {'H05B'},
             'C09X': {'C09X'},
             'C09C': {'C09C'},
             'N06D': {'N06D'},
             'H01C': {'H01C'},
             'B03A': {'B03A'},
             'M03B': {'M03B'},
             'A10B': {'A10B'},
             'B02A': {'B02A'},
             'D01A': {'D01A'},
             'J01X': {'J01X'},
             'H02A': {'H02A'},
             'C02C': {'C02C'},
             'H04A': {'H04A'},
             'J01A': {'J01A'},
             'C03D': {'C03D'},
             'B05A': {'B05A'},
             'N07B': {'N07B'},
             'A11G': {'A11G'},
             'R03D': {'R03D'},
             'H03B': {'H03B'},
             'J01G': {'J01G'},
             'N06B': {'N06B'},
             'C03B': {'C03B'},
             'L04A': {'L04A'},
             'A11D': {'A11D'},
             'N01B': {'N01B'},
             'G03C': {'G03C'},
             'N04A': {'N04A'},
             'N02C': {'N02C'},
             'D08A': {'D08A'},
             'L03A': {'L03A'},
             'A11H': {'A11H'},
             'S01F': {'S01F'},
             'C05B': {'C05B'},
             'L01C': {'L01C'},
             'P01C': {'P01C'},
             'L02B': {'L02B'},
             'C08D': {'C08D'},
             'H01B': {'H01B'},
             'M05B': {'M05B'},
             'G03X': {'G03X'},
             'G02C': {'G02C'},
             'L01X': {'L01X'},
             'P03A': {'P03A'},
             'P01A': {'P01A'},
             'A03A': {'A03A'},
             'A09A': {'A09A'},
             'C04A': {'C04A'},
             'L01D': {'L01D'},
             'L01B': {'L01B'},
             'D05A': {'D05A'},
             'J06B': {'J06B'},
             'S01H': {'S01H'},
             'G03D': {'G03D'},
             'M02A': {'M02A'},
             'B05X': {'B05X'},
             'G01A': {'G01A'},
             'C03X': {'C03X'},
             'L02A': {'L02A'},
             'G03B': {'G03B'},
             'A07B': {'A07B'},
             'N07X': {'N07X'},
             'H05A': {'H05A'},
             'R01B': {'R01B'},
             'B03X': {'B03X'},
             'A16A': {'A16A'},
             'M03C': {'M03C'},
             'S01A': {'S01A'},
             'M01C': {'M01C'},
             'J07A': {'J07A'}})

In [33]:
with open(cid_atc, 'r') as f:
    for line in f:
        line_ls = line[:-1].split(',')
        cid = line_ls[0]
        atcs = line_ls[1:]
        for atc in atcs:
            if len(atc3_atc4_dic[atc[:4]]) != 0:
                cid2atc_dic[cid].add(atc[:4])

In [34]:
cid2atc_dic

defaultdict(set,
            {'CID000004011': {'N06A'},
             'CID000071273': {'N01B'},
             'CID000062816': {'C10A'},
             'CID000052421': {'D07A'},
             'CID000056339': {'N03A'},
             'CID000077992': {'N02C'},
             'CID000005300': {'L01A'},
             'CID000222786': {'H02A'},
             'CID000071301': {'C07A'},
             'CID000004870': {'C03A'},
             'CID000004873': {'A12B', 'B05X'},
             'CID000002142': {'D06A', 'J01G', 'S01A'},
             'CID000002141': {'V03A'},
             'CID000131536': {'J05A'},
             'CID000001775': {'N03A'},
             'CID000003305': {'M05B'},
             'CID000005454': {'N05A'},
             'CID000003308': {'M01A'},
             'CID000004909': {'D08A', 'N03A', 'R01A', 'S01A'},
             'CID000004908': {'P01B'},
             'CID000002099': {'A03A'},
             'CID000054688': {'J01F'},
             'CID000002092': {'G04C'},
             'CID000005503': {'A10B'},
             'CID000004536': {'G03A'},
             'CID006918453': {'M01C'},
             'CID000003706': {'J05A'},
             'CID000005408': {'G03B'},
             'CID000004497': {'C08C'},
             'CID000004493': {'L02B'},
             'CID000002435': {'S01E'},
             'CID000003121': {'N03A'},
             'CID000040159': {'P03A'},
             'CID000002554': {'N03A'},
             'CID000002550': {'C09A'},
             'CID000002551': {'N07A', 'S01E'},
             'CID000010100': {'N02A'},
             'CID000002559': {'J01C'},
             'CID000443871': {'A10B'},
             'CID000003059': {'N02B'},
             'CID000019090': {'G03A', 'G03D', 'L02A'},
             'CID000059768': {'C07A'},
             'CID004183806': {'A02B'},
             'CID000176870': {'L01X'},
             'CID000004473': {'C08C'},
             'CID000003440': {'C03C'},
             'CID000003449': {'N06D'},
             'CID000003685': {'L01D'},
             'CID000003937': {'C09A'},
             'CID004630253': {'D07A'},
             'CID000018140': {'L01X'},
             'CID000000727': {'D08A', 'P03A'},
             'CID004475485': {'C10A'},
             'CID000077993': {'N02C'},
             'CID000148211': {'A04A'},
             'CID000072938': {'J01M'},
             'CID000002153': {'R03D'},
             'CID000002156': {'C01B'},
             'CID000008953': {'B05C', 'B05X'},
             'CID000005203': {'N06A'},
             'CID000005206': {'N01A'},
             'CID005281104': {'H05B'},
             'CID000004917': {'N05A'},
             'CID000004914': {'C01B', 'C05A', 'D04A', 'J01C', 'N01B', 'S01H'},
             'CID000004913': {'C01B'},
             'CID000003339': {'C10A'},
             'CID000004911': {'M04A'},
             'CID000213039': {'J05A'},
             'CID006436173': {'A07A', 'D06A'},
             'CID000002088': {'M05B'},
             'CID000005515': {'L01X'},
             'CID000005516': {'L02B'},
             'CID000002145': {'L02B'},
             'CID000005512': {'G04B'},
             'CID000005735': {'N05C'},
             'CID000005734': {'N03A'},
             'CID000005731': {'N02C'},
             'CID000005732': {'N05C'},
             'CID000003203': {'J05A'},
             'CID000004485': {'C08C'},
             'CID000060707': {'J01D'},
             'CID000003117': {'N07B', 'P03A'},
             'CID000003114': {'C01B'},
             'CID000004645': {'D06A', 'G01A', 'J01A', 'S01A'},
             'CID000038904': {'L01X'},
             'CID000060147': {'G04C'},
             'CID000004674': {'M05B'},
             'CID000002522': {'D05A'},
             'CID000002524': {'A11C', 'D05A'},
             'CID004659568': {'N04B'},
             'CID004659569': {'N04B'},
             'CID000003062': {'C01A', 'V03A'},
             'CID000003066': {'N02C'},
             'CID000154059': {'G04B'},
             'CID000004889': {'C10A'},
             'CID000004264': {'D06A', 'R01A'},
             'CID000000750': {'B03A', 'B05C'},
             'CID000002637': {'J01D'},
             'CID000002631': {'J01D'},
             'CID000160051': {'C10A'},
             'CID000001986': {'S01E'},
             'CID000003454': {'J05A', 'S01A'},
             'CID000003690': {'L01A'},
             'CID000151165': {'A04A'},
             'CID000003696': {'N06A'},
             'CID000003698': {'C01C'},
             'CID000003929': {'J01X'},
             'CID000004195': {'C01C'},
             'CID000002949': {'G03X'},
             'CID000004078': {'N05A'},
             'CID000004900': {'A07E', 'H02A'},
             'CID000005593': {'S01F'},
             'CID000005452': {'N05A'},
             'CID000004107': {'M03B'},
             'CID000071329': {'C01B'},
             'CID000005212': {'G04B'},
             'CID000005215': {'D06B', 'J01E'},
             'CID000004920': {'G03A', 'G03D', 'L02A'},
             'CID000004927': {'D04A', 'R06A'},
             'CID000008612': {'N01B'},
             'CID000005430': {'D01A'},
             'CID000003324': {'J05A', 'S01A'},
             'CID000003325': {'A02B'},
             'CID000124087': {'R06A'},
             'CID000004856': {'M01A', 'M02A'},
             'CID000005508': {'M01A', 'M02A'},
             'CID000005504': {'C04A', 'M02A'},
             'CID000005505': {'A10B'},
             'CID000054841': {'N06B'},
             'CID000005726': {'J05A'},
             'CID000005721': {'J05A'},
             'CID000002182': {'L01X'},
             'CID000002187': {'L02B'},
             'CID000004993': {'P01B'},
             'CID000003100': {'D04A', 'R06A'},
             'CID000000861': {'H03A'},
             'CID000003105': {'S01E'},
             'CID000003108': {'B01A', 'C01D'},
             'CID000004675': {'M03A'},
             'CID003468412': {'A07A', 'D01A', 'G01A'},
             'CID000003075': {'C08D'},
             'CID000068844': {'S01E'},
             'CID009571074': {'J01D'},
             'CID000002583': {'C07A', 'S01E'},
             'CID000004451': {'J05A'},
             'CID000002512': {'G02C', 'N04B'},
             'CID000002629': {'J01D'},
             'CID000000137': {'L01X'},
             'CID000002622': {'J01D'},
             'CID000062959': {'J01M'},
             'CID000002995': {'N06A'},
             'CID000002487': {'N02A'},
             'CID000003467': {'D06A', 'J01G', 'S01A'},
             'CID000003463': {'C10A'},
             'CID000003461': {'L01B'},
             'CID000003915': {'R01A'},
             'CID000003914': {'S01E'},
             'CID000003661': {'A03B', 'N04A', 'S01F'},
             'CID000039042': {'C10A'},
             'CID000004062': {'N01B'},
             'CID000004060': {'N03A'},
             'CID000004064': {'N05B'},
             'CID000002249': {'C07A'},
             'CID000152945': {'G04C'},
             'CID000004112': {'L01B', 'L04A'},
             'CID011947681': {'C02D'},
             'CID000002658': {'J01D'},
             'CID005329102': {'L01X'},
             'CID000004934': {'A03A'},
             'CID000004935': {'S01H'},
             'CID000004932': {'C01B'},
             'CID000002655': {'J01D'},
             'CID000039860': {'A04A'},
             'CID000005538': {'D10A', 'L01X'},
             'CID000004845': {'R03A'},
             'CID000005533': {'N06A'},
             'CID000005717': {'R03D'},
             'CID000005719': {'N05C'},
             'CID000005718': {'J05A'},
             'CID000004201': {'C02D', 'D11A'},
             'CID000005155': {'J05A'},
             'CID000005404': {'G01A'},
             'CID000005403': {'R03A'},
             'CID000005402': {'D01A'},
             'CID000005401': {'G04C'},
             'CID000005152': {'R03A'},
             'CID000004666': {'L01C'},
             'CID000002160': {'N06A'},
             'CID000048041': {'C01B'},
             'CID000000815': {'A07A', 'J01G', 'S01A'},
             'CID000002441': {'N05B'},
             'CID000060169': {'M03A'},
             'CID000004595': {'A04A'},
             'CID000060164': {'D10A'},
             'CID000002431': {'C01B'},
             'CID000003000': {'D07A'},
             'CID000003003': {'A01A', 'C05A', 'D07A', 'D10A', 'H02A', 'R01A'},
             'CID000003007': {'N06B'},
             'CID000438204': {'D06B'},
             'CID000123620': {'D07A', 'R01A'},
             'CID003002190': {'J01F'},
             'CID000004449': {'N06A'},
             'CID000002617': {'J01D'},
             'CID000104758': {'L01B'},
             'CID000003478': {'A10B'},
             'CID000023897': {'N05A'},
             'CID000163742': {'B01A'},
             'CID000003475': {'A10B'},
             'CID000003476': {'A10B'},
             'CID000002891': {'B03B'},
             'CID000003676': {'A01A', 'C01B', 'C05A', 'D04A', 'N01B', 'S01H'},
             'CID000003902': {'L02B'},
             'CID000003675': {'N06A'},
             'CID000003672': {'C01E', 'G02C', 'M01A', 'M02A'},
             'CID000004058': {'N02A'},
             'CID000004057': {'A03A'},
             'CID000004054': {'N06D'},
             'CID000004053': {'L01A'},
             'CID000004052': {'M01A'},
             'CID000003877': {'J05A'},
             'CID000091270': {'C09A'},
             'CID000003878': {'N03A'},
             'CID000004121': {'C03A'},
             'CID000065027': {'J05A'},
             'CID000003494': {'A03A'},
             'CID005311048': {'L01X'},
             'CID000004409': {'M01A'},
             'CID000016362': {'N05A'},
             'CID000003869': {'C07A'},
             'CID000004943': {'N01A'},
             'CID000004946': {'C07A'},
             'CID000005090': {'M01A'},
             'CID000005525': {'C09A'},
             'CID000005526': {'B02A'},
             'CID000130881': {'C09C'},
             'CID000009433': {'R03D'},
             'CID000093860': {'L01X'},
             'CID000003278': {'C03C'},
             'CID000003279': {'J04A'},
             'CID000072054': {'G04B'},
             'CID000005412': {'A01A', 'D06A', 'G01A', 'J01A', 'S01A'},
             'CID000004614': {'M01A'},
             'CID000004616': {'N05B'},
             'CID000002477': {'N05B'},
             'CID000002476': {'N02A', 'N07B'},
             'CID000002471': {'C03C'},
             'CID000002274': {'J01D'},
             'CID000001065': {'C01B'},
             'CID000002519': {'N02B', 'N06B'},
             'CID000003928': {'J01F'},
             'CID000004724': {'C07A'},
             'CID000004723': {'N06B'},
             'CID000003019': {'C02D', 'V03A'},
             'CID000000937': {'C04A', 'C10A'},
             'CID000003016': {'N05B'},
             'CID000122316': {'N04B'},
             'CID000002609': {'J01D'},
             'CID000005071': {'J05A'},
             'CID000003702': {'C03B'},
             'CID000150310': {'C03D'},
             'CID000150311': {'C10A'},
             'CID000004436': {'R01A'},
             'CID000004100': {'S01E'},
             'CID000004547': {'A10B'},
             'CID000003648': {'N02A'},
             'CID000004543': {'N06A'},
             'CID000004542': {'G03A'},
             'CID000003647': {'C03A'},
             'CID000060198': {'L02B'},
             'CID000004044': {'M01A'},
             'CID000004046': {'P01B'},
             'CID000003488': {'A10B'},
             'CID000002720': {'C03A'},
             'CID000002726': {'N05A'},
             'CID000004138': {'C02A'},
             'CID000002283': {'D06A', 'J01X'},
             'CID000002284': {'M03B'},
             'CID000005556': {'N05C'},
             'CID000005396': {'L01C'},
             'CID000005394': {'L01A'},
             'CID000005391': {'N05C'},
             'CID005311297': {'R03D'},
             'CID000034633': {'C01B'},
             'CID000005775': {'C04A', 'V03A'},
             'CID000003241': {'R06A'},
             'CID000667490': {'L01B'},
             'CID000060835': {'N06A'},
             'CID000004603': {'J05A'},
             'CID000004601': {'M03B', 'N04A'},
             'CID000004607': {'J01C'},
             'CID000004609': {'L01X'},
             'CID000002462': {'A07E', 'D07A', 'R01A'},
             'CID001349907': {'H03B'},
             'CID000000838': {'A01A', 'B02B', 'C01C', 'R01A', 'R03A', 'S01E'},
             'CID000030623': {'V03A'},
             'CID000002266': {'D10A'},
             'CID000002267': {'R01A', 'R06A'},
             'CID000002265': {'L04A'},
             'CID000003393': {'N05C'},
             'CID000003392': {'D07A'},
             'CID000003394': {'M01A', 'M02A'},
             'CID000003397': {'L02B'},
             'CID000002269': {'J01F', 'S01A'},
             'CID000041781': {'C03C'},
             'CID000004739': {'A03A'},
             'CID000004736': {'N02A'},
             'CID000004737': {'N05C'},
             'CID000060696': {'M03A'},
             'CID000004730': {'J01C'},
             'CID000096312': {'L01B'},
             'CID003085017': {'V03A'},
             'CID000002673': {'J01D'},
             'CID000002675': {'J01D'},
             'CID000002676': {'C10A'},
             'CID000002678': {'R06A'},
             'CID000000232': {'B05X'},
             'CID000003657': {'L01X'},
             'CID000003652': {'P01B'},
             'CID000003658': {'N05B'},
             'CID000002708': {'L01A'},
             'CID000000581': {'R05C', 'V03A'},
             'CID000028112': {'D11A', 'N05A'},
             'CID000002818': {'N05A'},
             'CID000068740': {'M05B'},
             'CID000004091': {'A10B'},
             'CID000004095': {'N02A', 'N07B', 'R05D'},
             'CID000005546': {'C03D'},
             'CID000005544': {'A01A', 'C05A', 'D07A', 'H02A', 'R01A'},
             'CID000040976': {'G03A'},
             'CID000004197': {'C01C'},
             'CID000004893': {'C02C'},
             'CID000031477': {'S01E'},
             'CID000016231': {'C03D'},
             'CID000004894': {'A07E', 'C05A', 'D07A', 'D10A', 'H02A', 'R01A'},
             'CID000002381': {'N04A'},
             'CID000003261': {'N05C'},
             'CID000003251': {'N02C'},
             'CID000003255': {'D10A', 'J01F', 'S01A'},
             'CID000050614': {'J01D'},
             'CID000004635': {'N02A'},
             'CID000004634': {'G04B'},
             'CID000004428': {'N07B'},
             'CID005282226': {'S01E'},
             'CID000054454': {'C10A'},
             'CID000057469': {'D06B'},
             'CID000003382': {'C05A', 'D07A'},
             'CID000003381': {'C05A', 'D07A'},
             'CID000003387': {'G03B'},
             'CID000003384': {'C05A', 'D07A', 'D10A'},
             'CID000001046': {'J04A'},
             'CID000056959': {'C01E'},
             'CID000000085': {'A16A'},
             'CID000003032': {'D11A', 'M01A', 'M02A'},
             'CID000060753': {'C01B'},
             'CID000002662': {'L01X', 'M01A'},
             'CID000002666': {'J01D'},
             'CID000004419': {'N02A'},
             'CID006323497': {'J04A'},
             'CID000054547': {'J01D'},
             'CID000002719': {'P01B'},
             'CID000002712': {'N05B'},
             'CID000000596': {'L01B'},
             'CID000000772': {'B01A', 'C05B'},
             'CID000003827': {'R06A'},
             'CID000003826': {'M01A'},
             'CID000003825': {'M01A', 'M02A'},
             'CID000003823': {'D01A', 'G01A', 'J02A'},
             'CID000003821': {'N01A'},
             'CID000002803': {'C02A', 'N02C', 'S01E'},
             'CID000002806': {'B01A'},
             'CID000062867': {'N05A'},
             'CID000004158': {'N06B'},
             'CID000004159': {'D07A', 'D10A', 'H02A'},
             'CID000115237': {'N05A'},
             'CID000013342': {'L01C'},
             'CID000004259': {'J01M', 'S01A'},
             'CID004479097': {'B03B', 'V03A'},
             'CID000004086': {'R03A'},
             'CID000005578': {'J01E'},
             'CID000005572': {'N04A'},
             'CID000005379': {'J01M', 'S01A'},
             'CID000005376': {'L02B'},
             'CID000005596': {'G04B'},
             'CID000005591': {'A10B'},
             'CID000060815': {'N01A'},
             'CID000004976': {'N06A'},
             'CID000002443': {'G02C', 'N04B'},
             'CID005353894': {'V03A'},
             'CID000005625': {'J05A'},
             'CID000004623': {'D01A', 'G01A'},
             'CID000002244': {'A01A', 'B01A', 'N02B'},
             'CID000047319': {'M03A'},
             'CID000170361': {'N07B'},
             'CID000003375': {'C05A', 'D07A'},
             'CID000087177': {'A06A'},
             'CID000037393': {'P01B'},
             'CID000041693': {'N01A'},
             'CID000005978': {'L01C'},
             'CID000060787': {'J05A'},
             'CID000002656': {'J01D'},
             'CID000002650': {'J01D'},
             'CID000003759': {'N06A'},
             'CID000004594': {'A02B'},
             'CID000003750': {'L01X'},
             'CID000065999': {'C09C'},
             'CID000005193': {'N05C'},
             'CID000157922': {'L01X'},
             'CID000002951': {'M03C'},
             'CID000003637': {'C02D'},
             'CID000003639': {'C03A'},
             'CID000054374': {'H01C'},
             'CID000002727': {'A10B'},
             'CID000002725': {'R06A'},
             'CID000003767': {'J04A'},
             'CID000004915': {'L01X'},
             'CID000005582': {'P01A'},
             'CID000004189': {'A01A', 'A07A', 'D01A', 'G01A', 'J02A'},
             'CID000003958': {'N05B'},
             'CID000000143': {'V03A'},
             'CID000036339': {'N01A'},
             'CID000004168': {'A03F'},
             'CID000004163': {'N02C'},
             'CID000004160': {'G03B'},
             'CID000002812': {'A01A', 'D01A', 'G01A'},
             'CID000002907': {'L01A', 'L01D'},
             'CID000002905': {'S01F'},
             'CID006398970': {'J01D'},
             'CID000002019': {'L01D'},
             'CID000005291': {'L01X'},
             'CID000005297': {'A07A', 'J01G', 'S01A'},
             'CID000002913': {'R06A'},
             'CID000005566': {'N05A'},
             'CID000002083': {'R03A'},
             'CID000005584': {'N06A'},
             'CID000002123': {'L01X'},
             'CID000034312': {'N03A'},
             'CID000002232': {'B01A'},
             'CID000005035': {'G03X'},
             'CID000039507': {'H02A'},
             'CID000005746': {'L01D'},
             'CID000005038': {'C09A'},
             'CID000005039': {'A02B'},
             'CID000004768': {'C04A'},
             'CID000002344': {'N04A'},
             'CID000002349': {'J01C', 'S01A'},
             'CID000003291': {'N03A'},
             'CID000003715': {'C01E', 'M01A'},
             'CID000072467': {'L01D'},
             'CID000050294': {'R01A'},
             'CID000002646': {'J01D'},
             'CID000003749': {'C09C'},
             'CID000003746': {'R01A'},
             'CID000002610': {'J01D'},
             'CID000004440': {'N02C'},
             'CID000002732': {'C03B'},
             'CID000064147': {'J05A'},
             'CID000004509': {'J01X'},
             'CID000004506': {'N05C'},
             'CID005311039': {'J02A'},
             'CID000003519': {'C02A'},
             'CID000003518': {'C02C', 'S01E'},
             'CID000004211': {'L01X'},
             'CID000003512': {'D01A'},
             'CID000003510': {'A04A'},
             'CID000000159': {'B01A'},
             'CID000004178': {'C01B'},
             'CID005481350': {'J05A'},
             'CID000001935': {'N06A', 'N06D'},
             'CID000004170': {'C03B'},
             'CID000004171': {'C07A'},
             'CID000004173': {'A01A', 'D06B', 'G01A', 'J01X', 'P01A'},
             'CID000027686': {'A07E', 'D11A', 'R01A'},
             'CID000003226': {'N01A'},
             'CID000150610': {'J01D'},
             'CID000071158': {'N07B'},
             'CID000657298': {'H03B'},
             'CID000006691': {'B01A'},
             'CID005311181': {'B01A'},
             'CID005381226': {'J04A'},
             'CID000036811': {'C01C'},
             'CID000004196': {'G03X'},
             'CID000005359': {'M01A'},
             'CID000004192': {'N05C'},

In [386]:
# ddi load
ddi_df = pd.read_csv(ddi_file)
# fliter sever side effect 
ddi_most_pd = ddi_df.groupby(by=['Polypharmacy Side Effect', 'Side Effect Name']).size().reset_index().rename(columns={0:'count'}).sort_values(by=['count'],ascending=False).reset_index(drop=True)
ddi_most_pd = ddi_most_pd.iloc[-TOPK:,:]
# ddi_most_pd = pd.DataFrame(columns=['Side Effect Name'], data=['as','asd','as'])
fliter_ddi_df = ddi_df.merge(ddi_most_pd[['Side Effect Name']], how='inner', on=['Side Effect Name'])
ddi_df = fliter_ddi_df[['STITCH 1','STITCH 2']].drop_duplicates().reset_index(drop=True)

# weighted ehr adj 
ehr_adj = np.zeros((med_voc_size, med_voc_size))
for patient in records:
    for adm in patient:
        med_set = adm[2]
        for i, med_i in enumerate(med_set):
            for j, med_j in enumerate(med_set):
                if j<=i:
                    continue
                ehr_adj[med_i, med_j] = 1
                ehr_adj[med_j, med_i] = 1
dill.dump(ehr_adj, open('ehr_adj_final.pkl', 'wb'))  

print('complete ehr_adj_final.pkl!')

complete ehr_adj_final.pkl!

In [387]:
# ddi adj
ddi_adj = np.zeros((med_voc_size,med_voc_size))

ddi_df
for index, row in ddi_df.iterrows():
    # ddi
    cid1 = row['STITCH 1']
    cid2 = row['STITCH 2']
    
    # cid -> atc_level3
    for atc_i in cid2atc_dic[cid1]:
        for atc_j in cid2atc_dic[cid2]:
            # atc_level3 -> atc_level4
            for i in atc3_atc4_dic[atc_i]:
                for j in atc3_atc4_dic[atc_j]:
                    if med_voc.word2idx[i] != med_voc.word2idx[j]:
                        ddi_adj[med_voc.word2idx[i], med_voc.word2idx[j]] = 1
                        ddi_adj[med_voc.word2idx[j], med_voc.word2idx[i]] = 1
dill.dump(ddi_adj, open('ddi_A_final.pkl', 'wb')) 
                        
print('complete ddi_A_final.pkl!')

complete ddi_A_final.pkl!

In [361]:
data_final_file = 'data_final.pkl'

data_final_ =  dill.load(open(data_final_file, 'rb'))
data_final_

,SUBJECT_ID,HADM_ID,ICD9_CODE,NDC,PRO_CODE,NDC_Len
0,17,161087,"[4239, 5119, 78551, 4589, 311, 7220, 71946, 2724]","[N02B, A01A, A02B, A06A, B05C, A12A, A12C, C01...","[3731, 8872, 3893]",14
1,17,194023,"[7455, 45829, V1259, 2724]","[N02B, A01A, A02B, A06A, A12A, B05C, A12C, C01...","[3571, 3961, 8872]",15
2,21,109451,"[41071, 78551, 5781, 5849, 40391, 4280, 4592, ...","[A06A, C07A, A12A, A02A, J01M, C02A, B05C, B01...","[0066, 3761, 3950, 3606, 0042, 0047, 3895, 399...",17
3,21,111970,"[0388, 78552, 40391, 42731, 70709, 5119, 6823,...","[A06A, B05C, A12C, A07A, N02B, B01A, N06A, A01...","[3995, 8961, 0014]",17
4,23,124321,"[2252, 3485, 78039, 4241, 4019, 2720, 2724, V4...","[C07A, N02B, A02B, H03A, N03A, A01A, N05A, C09...",[0151],11
...,...,...,...,...,...,...
15011,99923,164914,"[45829, 4532, 2761, 5723, 4561, 45621, 5849, 7...","[N02B, B01A, A06A, J01M, A07A]","[5491, 4513]",5
15012,99923,192053,"[5712, 5856, 5724, 40391, 9974, 5601, 30393, V...","[A06A, A12A, A12C, N01A, C07A, B01A, A02B, A04...","[5059, 504, 5569, 0093]",18
15013,99982,112748,"[4280, 42823, 5849, 4254, 2763, 42731, 78729, ...","[A01A, C03C, A06A, A02B, A12C, B05C, C01A, B01...",[3721],11
15014,99982,151454,"[42823, 4254, 2875, 42731, 3970, 5303, 4280, V...","[C03C, A02B, A06A, C07A, C09C, A12B]","[3527, 3961]",6
15015,99982,183791,"[5849, 42731, 4280, 2875, 53081, 56400, 78720,...","[A01A, A06A, B05C, C03C, A03B, B01A, A12C, A04...","[3721, 3897, 8964]",15

In [5]:
records_final_file = 'records_final.pkl'
records_final_ =  dill.load(open(records_final_file, 'rb'))
records_final_

NameError: name 'dill' is not defined

In [363]:
voc_file = 'voc_final.pkl'
voc_final_ =  dill.load(open(voc_file, 'rb'))
voc_final_

{'diag_voc': <__main__.Voc at 0x401ee51f0>,
 'med_voc': <__main__.Voc at 0x13ff5ad30>,
 'pro_voc': <__main__.Voc at 0x40f69be80>}

In [375]:
ddi_A_final_file = 'ddi_A_final.pkl'
ddi_A_final_ =  dill.load(open(ddi_A_final_file, 'rb'))
ddi_A_final_

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [367]:
ddi_A_final_[1]

array([0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 1., 1., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 1., 0., 0., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.,
       0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [365]:
nonzero_ = np.nonzero(ddi_A_final_)
nonzero_

(array([  0,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,
          1,   1,   1,   1,   2,   2,   2,   2,   7,   7,   7,   7,   7,
          7,   8,   8,   8,   8,   8,  10,  10,  10,  11,  11,  11,  12,
         12,  12,  12,  12,  12,  12,  12,  12,  12,  18,  18,  19,  19,
         19,  19,  19,  19,  20,  20,  20,  22,  23,  23,  23,  25,  25,
         25,  25,  25,  25,  25,  26,  26,  26,  26,  26,  26,  26,  26,
         26,  26,  26,  26,  26,  26,  27,  27,  29,  29,  29,  29,  29,
         29,  30,  30,  30,  30,  30,  30,  30,  30,  30,  30,  30,  30,
         30,  30,  31,  31,  31,  31,  31,  31,  31,  31,  32,  32,  32,
         32,  32,  32,  32,  32,  32,  34,  34,  34,  34,  34,  34,  34,
         34,  35,  37,  37,  37,  37,  38,  38,  38,  38,  39,  39,  39,
         41,  41,  41,  41,  41,  42,  42,  42,  42,  42,  42,  42,  42,
         43,  43,  43,  43,  43,  43,  43,  43,  43,  43,  43,  43,  44,
         44,  44,  44,  44,  44,  44,  44,  45,  46,  46,  46,  48,  48,
         49,  49,  49,  49,  49,  49,  49,  49,  51,  51,  52,  52,  52,
         52,  52,  53,  54,  54,  54,  55,  55,  55,  55,  55,  58,  58,
         58,  58,  58,  58,  58,  59,  59,  60,  60,  60,  60,  60,  60,
         64,  64,  64,  64,  64,  64,  64,  64,  64,  64,  64,  64,  67,
         69,  69,  69,  69,  69,  69,  69,  69,  69,  69,  69,  69,  69,
         69,  69,  69,  71,  71,  71,  72,  73,  76,  76,  76,  76,  76,
         76,  76,  76,  80,  80,  80,  80,  81,  83,  83,  83,  83,  83,
         84,  84,  84,  85,  85,  85,  85,  85,  85,  85,  88,  93,  96,
         96,  96,  98,  98,  98,  98,  98,  98,  98,  98,  98,  98,  98,
         98,  98,  98,  98,  98,  98, 100, 100, 100, 100, 100, 100, 100,
        103, 103, 103, 108, 109, 109, 109, 111, 112, 112, 114, 114, 114,
        114, 116, 116, 117, 117, 117, 122, 122, 123, 124, 124, 124, 124,
        124, 124, 124, 124, 124, 124, 124, 124, 127, 127, 127, 127, 127,
        127, 127, 129, 129, 130, 131, 131, 131, 131, 131, 134, 134, 134,
        134, 142, 142, 142, 142, 142, 142, 142]),
 array([ 80,   7,  29,  30,  31,  32,  42,  43,  44,  49,  64,  69,  76,
         80,  98, 100, 127,  25,  34,  67, 114,   1,  31,  49,  64, 100,
        127,  51,  52,  54,  83, 142,  26,  30,  32,  26,  69,  96,  22,
         41,  43,  58,  60,  64,  76,  85,  98, 130,  98, 124,  20,  25,
         34,  80, 112, 114,  19,  34, 108,  12,  30,  32,  49,   2,  19,
         26,  27,  48,  52,  83,  10,  11,  25,  31,  34,  37,  58,  59,
         81,  96, 116, 122, 129, 134,  25, 134,   1,  31,  49,  64, 100,
        127,   1,  10,  23,  42,  43,  44,  54,  58,  59,  64,  85, 114,
        116, 129,   1,   7,  26,  29,  42,  43,  44,  69,   1,  10,  23,
         71,  88,  96,  98, 131, 142,   2,  19,  20,  26,  37,  38,  98,
        124,  76,  26,  34, 112, 122,  34,  48,  80, 103,  46,  52,  83,
         12,  69,  98, 124, 134,   1,  30,  31,  49,  64, 100, 117, 127,
          1,  12,  30,  31,  49,  64,  69,  76,  98, 100, 124, 127,   1,
         30,  31,  49,  64,  76, 100, 127, 109,  39, 109, 123,  25,  38,
          1,   7,  23,  29,  42,  43,  44,  69,   8,  84,   8,  25,  39,
         83, 131,  98,   8,  30,  84,  60,  71, 117, 131, 142,  12,  26,
         30,  69,  76,  98, 124,  26,  30,  12,  55,  69,  98, 124, 142,
          1,   7,  12,  29,  30,  42,  43,  44,  69,  76,  98, 124,   2,
          1,  11,  31,  41,  43,  49,  58,  60,  64,  85,  93,  98, 100,
        109, 124, 127,  32,  55, 142,  98, 117,   1,  12,  35,  43,  44,
         58,  64,  85,   0,   1,  19,  38,  26,   8,  25,  39,  52, 131,
         51,  54, 142,  12,  30,  69,  76,  98, 124, 134,  32,  69,  11,
         26,  32,   1,  12,  18,  32,  34,  41,  43,  53,  58,  60,  64,
         69,  72,  85, 103, 114, 124,   1,   7,  29,  42,  43,  44,  69,
         38,  98, 124,  20,  45,  46,  69, 124,  19,  37,   2,  19,  30,
         98,  26,  30,  42,  55,  73,  26,  37,  46,  18,  34,  41,  43,
         58,  60,  64,  69,  85,  98, 103, 111,   1,   7,  29,  42,  43,
         44,  69,  26,  30,  12,  32,  52,  55,  83, 142,  26,  27,  41,
         85,   8,  32,  55,  60,  71,  84, 131]))

In [371]:
ehr_adj_final_file = 'ehr_adj_final.pkl'
ehr_adj_final_ =  dill.load(open(ehr_adj_final_file, 'rb'))
ehr_adj_final_

array([[0., 1., 1., ..., 1., 1., 1.],
       [1., 0., 1., ..., 1., 1., 1.],
       [1., 1., 0., ..., 1., 1., 1.],
       ...,
       [1., 1., 1., ..., 0., 0., 0.],
       [1., 1., 1., ..., 0., 0., 0.],
       [1., 1., 1., ..., 0., 0., 0.]])

In [372]:
np.nonzero(ehr_adj_final_)

(array([  0,   0,   0, ..., 144, 144, 144]),
 array([ 1,  2,  3, ..., 74, 87, 99]))